@import "../abstract/_variables.scss";
.header {
    height: 7.5rem;
    display: flex;
    background-color: $background-light;
    &__logo {
        width: 9.3rem;
        padding: 1.7rem 0.5rem;
        position: relative;
        img {
            width: 100%;
        }
        @media (max-width: $breakpoint-medium) {
            margin: 0 auto;
            padding: 1.7rem 0;
        }
    }
}