@import '../abstract/_variables.scss';

.images {
    width: 100%;
    padding: 0;
    overflow: hidden;

    &__container {
        height: $image-size;
        display: block;
        width: $number-of-images * $image-size;
        overflow: hidden;

        &__box {
            height: $image-size;
            width: $image-size;
            background-color: $color-footer-background;
            overflow: hidden;
            float: left;
            display: block;
            position: relative;
            text-align: center;

            &__image {
                width: 100%;
                vertical-align: middle;
                opacity: 0.7;
            }
        }
    }
}
