@import '../abstract/_variables.scss';
@import '../abstract/_mixins.scss';

.reservation {
    @include section-box;
    background-color: $background-light;
    flex-basis: 100%;
    margin-top: 3.6rem;
    padding-top: 4.5rem;
    padding-bottom: 5.6rem;
    justify-content: center;
    display: flex;

    &__title {
        @include section-title-box;

        &__text {
            @include section-title;
        }
    }

    &__button {
        flex-basis: 100%;
        padding-top: 1.9rem;
        justify-content: center;
        margin: 0 auto;
        display: flex;
    }

    &__contact {
        display: flex;
        margin: 0 auto;
        flex-basis: 25rem;
        padding-top: 2.4rem;

        &__text {
            text-align: center;
            flex: 1;
            font-size: 2.46rem;
            line-height: 3.3rem;
        }
    }
}