@import '../abstract/_variables.scss';
@import '../abstract/_mixins.scss';
.reviews {
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 6rem 0;
    text-align: center;
    
    &__title {
        min-height: 4rem;
        margin: 0 auto 1.3rem auto;
        width: 100%;
        &__text {
            @include section-title;
            text-align: center;
        }
    }
    &__review {
        margin: 0 auto;
        flex: 1;
        max-width: 38rem;
        display: flex;
        flex-wrap: wrap;

        &__box__first,
        &__box__second {
            display: flex;
            flex: 1;
            justify-content: flex-start;
            &__image {
                height: 2.5rem;
            }
        }

        &__box__second {
            justify-content: flex-end;
        }

        &__text {
            &__quote {
                font-size: 3rem;
                letter-spacing: 0.01rem;
                line-height: 3.6rem;
                font-weight: 700;
            }
        }
    }

    &__name {
        margin: 4rem auto;
        flex-basis: 100%;

        &__text {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 300;
        }
    }
}