// colors
$background-light: #e8e8e8;
$color-text-invert: white;
$color-footer-background: black;
$color-primary: #410000;
$color-text-darker: #222222;
$color-section-title-dark: #424141;

//page widths
$max-screen-width: 123rem;
$min-width: 28rem;
$base-width: 48rem;

//breakpoints
$breakpoint-large: 1250px;
$breakpoint-medium: 800px;
$breakpoint-small: 450px;
$breakpoint-extra-small: 350px;

// image-size
$image-size: 21.7rem;
$number-of-images: 14;
