// colors
$background-light: #e8e8e8;
$color-text-invert: white;
$color-footer-background: black;

//breakpoints
$breakpoint-large: 1250px;
$breakpoint-medium: 800px;
$breakpoint-small: 450px;
$breakpoint-extra-small: 350px;
