// colors
$background-light: #e8e8e8;
$color-text-invert: white;
$color-footer-background: black;
$color-primary: #410000;
$color-text-darker: #222222;

//breakpoints
$breakpoint-large: 1250px;
$breakpoint-medium: 800px;
$breakpoint-small: 450px;
$breakpoint-extra-small: 350px;
