@import "../abstract/_variables.scss";
.btn {
    background-color: $color-primary;
    max-width: 15rem;
    min-height: 3.3rem;
    display: flex;
    border-radius: 1.4rem;
    .btn__link {
        margin: auto;
        text-decoration: none;
        .btn__text {
            font-size: 1.5rem;
            color: $color-text-invert;
        }
    }
    &__center {
        margin: auto;
    }
}